set timeout=5
set default=0

# Thiet ke mau sac giao dien menu GRUB (Chu/Nen)
set menu_color_normal=cyan/black
set menu_color_highlight=white/blue

menuentry "DuyKhanhOS v6 (Live Boot - Mint Core)" {
    search --set=root --file /live/filesystem.squashfs
    linux /live/vmlinuz boot=live quiet splash
    initrd /live/initrd.img
}

menuentry "DuyKhanhOS v6 (Safe Graphics Mode)" {
    search --set=root --file /live/filesystem.squashfs
    linux /live/vmlinuz boot=live xforcevesa nomodeset quiet splash
    initrd /live/initrd.img
}
