set timeout=5
set default=0

# Thiet ke mau sac giao dien menu GRUB (Chu/Nen)
set menu_color_normal=cyan/black
set menu_color_highlight=white/blue

menuentry "DuyKhanhOS (Live Mode)" {
    search --set=root --file /live/filesystem.squashfs
    linux /live/vmlinuz boot=live quiet splash
    initrd /live/initrd.img
}

menuentry "DuyKhanhOS (Boot Mode)" {
    search --set=root --file /live/filesystem.squashfs
    linux /live/vmlinuz boot=live text quiet
    initrd /live/initrd.img
}

menuentry "DuyKhanhOS Boot Mode with GUI" {
    search --set=root --file /live/filesystem.squashfs
    linux /live/vmlinuz boot=live systemd.unit=graphical.target quiet splash
    initrd /live/initrd.img
}
